---
import BaseLayout from "../layouts/BaseLayout.astro";

const dibujos = [
    "dibujo1",
    "dibujo1",
    "dibujo1",
    "dibujo1",
    "dibujo1",
    "dibujo1",

    "dibujo1",

    "dibujo1",
];
---

<BaseLayout title="Dibujos">
    <h1>Dibujos</h1>

    <section class="galeria">
        {
            dibujos.map((d) => (
                <img
                    class="fade-up"
                    src={`/img/${d}.webp`}
                    alt="Dibujo a mano"
                />
            ))
        }
    </section>
</BaseLayout>

<style>
    .galeria img {
        background: white;
        padding: 0.5rem;
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
        transition: transform 0.3s ease;
    }

    .galeria img:hover {
        transform: translateY(-4px);
    }
</style>
