<html lang="val">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="refresh" content="0; url=/val" />
        <title>Redirigiendo...</title>
    </head>
    <body>
        <p>
            Si no te redirige automáticamente, haz clic <a href="/val">aquí</a>.
        </p>
    </body>
</html>
