---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="El libro">
	<h1 class="fade-up">¿Dónd está mi abuela?</h1>
	<section class="fade-up">
		<img src="/img/david.webp" />
	</section>
	<p class="fade-up">Sinopsis del libro. Tema, tono, época, intención.</p>
</BaseLayout>
